.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="url"]:focus {
    /* background: #A1BFED; */
}

label.required::after {
    content: " *"; color:red
}

#header {
    font-size: 18px;
}

#header_row {
    padding-bottom: 10px;
}

canvas {
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}


#loadingSegment {
    width:500px;
    height:500px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAN0lEQVQYV2NkIAIwEqHmPyFF/xkYGBgJKQJbhEsR2ASYU7ApQlGAzyQU/yCbhGECunU4FYAUAgBp4wYJDzYgLgAAAABJRU5ErkJggg==)
}


.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.notvisible {
    display:none !important;
}

.control:hover {
    color: red;
}

#titleBar {
    margin-top:15px;
}

#mandatoryInputs {
    color:red;
    float:right;
}

#submit,#csvDownload {
    background-color:rgb(82, 109, 128);
}

#reset {
    background-color:#479ac3;
}