#background {
  width: 100%;
  
}

body {
  background-color: #23153c;
}

.column {
  border:0px solid white;
}

#content {
  padding-top: 50px;
}

a img {
  position: relative;
  transition: transform 0.2s;
}

a img:hover {
  transform: scale(3);
  -webkit-transform: scale(3) !important;
    -moz-transform: scale(3) !important;
    -o-transform: scale(3) !important;
    transform: scale(3) !important;
    position: relative;
    z-index: 2;
    border: 1px solid black;
}

.ui.feed>.event>.content .extra.images img {
  width: 12em;
}

.ui.card {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}